SERVER_PORT=
SERVER_HOST=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_COGNITO_CLIENT_ID=
AWS_REGION=
AWS_COGNITO_CLIENT_SECRET=

# Caminho para o diretório de documentação (openapi.yaml)
DOCS_PATH=../docs
